<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">

<title>Hello, world!</title>
</head>
<body>
	<div class="container-fluid p-10">
		<div th:switch="${users}">
			<h2 th:case="null"></h2>
			<div th:case="*">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Lastname</th>
							<th scope="col">Email</th>
							<th scope="col">Birthdate</th>
							<th scope="col">Department</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="user : ${users}">
							<td><input th:id="'nameDB' + ${user.id}" type="text"
								th:value="${user.name}"></input></td>
							<td><input th:id="'lastnameDB' + ${user.id}" type="text"
								th:value="${user.lastname}"></input></td>
							<td><input th:id="'emailDB' + ${user.id}" type="email"
								th:value="${user.email}"></input></td>
							<td><input th:id="'birthdateDB' + ${user.id}" type="text"
								th:value="${user.birthdate}"></input></td>
							<td><input th:id="'departmentDB' + ${user.id}" type="text"
								th:value="${user.department.name}"></input></td>
							<td><input class="btn btn-danger"
								th:onclick="'del(\'' + ${user.id} + '\');'" type="button"
								value="Delete"></input><input type="button"
								class="btn btn-primary"
								th:onclick="'edit(\'' + ${user.id} + '\');'" value="Save"></input></td>
						</tr>
					</tbody>
				</table>
				<a id="data"></a>
			</div>
		</div>


	</div>
	<button onclick="saveAll()" class='btn btn-primary' value="Save ALl">SAVE
		ALL</button>
	<script>
		let i;
		let output = "<table class='table'>";

		for (i = 0; i < 10; i++) {
			output += "<tr><td><input id='name"+i+"' type='text'></input></td><td><input id='lastname"+i+"' type='text'></input></td>"
					+ "<td><input id='email"+i+"' type='email'></input></td>"
					+ "<td><input id='birthdate"+i+"' type='text'></input></td>"
					+ "<td><input id='department"+i+"' type='text'></input></td>"
					+ "<td><input class='btn btn-danger' onclick='delField("
					+ i
					+ ")' type='button'  value='Delete'></input><input onclick='save("
					+ i
					+ ")' type='button' class='btn btn-primary' value='Save'></input></td>"
					+ "</tr>";
		}
		output += "</table>"
		document.getElementById("data").innerHTML = output;
		function saveAll() {
			let r = confirm("Are you sure to save?")
			if (r == true) {
				let array = [];
				for (i = 0; i < 10; i++) {
					array
							.push({
								name : document.getElementById("name" + i).value,
								lastname : document.getElementById("lastname"
										+ i).value,
								email : document.getElementById("email" + i).value,
								birthdate : document.getElementById("birthdate"
										+ i).value,
								department : {
									name : document.getElementById("department"
											+ i).value,
								}
							})
				}
				fetch("http://localhost:8080/addAll", {

					// Adding method type
					method : "POST",

					// Adding body or contents to send
					body : JSON.stringify(array),

					// Adding headers to the request
					headers : {
						"Content-type" : "application/json; charset=UTF-8"
					}
				})
				window.open("http://localhost:8080/");
			}

		}
		function save(argument) {
			let r = confirm("Are you sure to save?")
			if (r == true) {
				alert("Success to save data")
				fetch("http://localhost:8080/add", {

					// Adding method type
					method : "POST",

					// Adding body or contents to send
					body : JSON
							.stringify({
								name : document.getElementById("name"
										+ argument).value,
								lastname : document.getElementById("lastname"
										+ argument).value,
								email : document.getElementById("email"
										+ argument).value,
								birthdate : document.getElementById("birthdate"
										+ argument).value,
								department : {
									name : document.getElementById("department"
											+ argument).value,
								}
							}),

					// Adding headers to the request
					headers : {
						"Content-type" : "application/json; charset=UTF-8"
					}
				})
				window.open("http://localhost:8080/");
			} else {
				alert("Save data cancelled")
			}

		};

		function delField(argument) {
			document.getElementById("name" + argument).value = "";
			document.getElementById("lastname" + argument).value = "";
			document.getElementById("email" + argument).value = "";
			document.getElementById("birthdate" + argument).value = "";
			document.getElementById("department" + argument).value = "";

		}
		function del(argument) {
			let r = confirm("Are you sure to delete?")
			if (r == true) {
				alert("Success to delete data")
				fetch("http://localhost:8080/user/delete/" + argument);
				window.open("http://localhost:8080/");
			} else {
				alert("Delete data cancelled")
			}

		}
		function edit(argument) {
			let r = confirm("Are you sure to save?")
			if (r == true) {
				fetch("http://localhost:8080/user/edit/", {

					// Adding method type
					method : "POST",

					// Adding body or contents to send
					body : JSON
							.stringify({
								name : document.getElementById("nameDB"
										+ argument).value,
								lastname : document.getElementById("lastnameDB"
										+ argument).value,
								email : document.getElementById("emailDB"
										+ argument).value,
								birthdate : document
										.getElementById("birthdateDB"
												+ argument).value,
								department : {
									name : document
											.getElementById("departmentDB"
													+ argument).value,
								}
							}),

					// Adding headers to the request
					headers : {
						"Content-type" : "application/json; charset=UTF-8"
					}
				})
				window.open("http://localhost:8080/");

			}

		}
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

</body>
</html>